.exceptions-container{
    min-height: 500px;
    background: #f0f2f5;   
    h1{
        text-align: center;
        color: #434e59;
        margin: 0;
        padding: 80px 0 0 0;
    }
    h4{
        text-align: center;
        color: rgba(0,0,0,.45);
        margin: 0;
        padding: 0;
    }
}